[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Build ROMs in docker with Ubuntu 20.04 via ci environments. This was originally written by @Apon77. I have rewritten it. I have been able to build vanilla version of Sakura arm64 !
[access "refs/*"]
	owner = group user/Chatur Baij (Main) (Chatur27)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Chatur Baij (Main) (Chatur27)
	label-Verified = -1..+1 group user/Chatur Baij (Main) (Chatur27)
	push = group user/Chatur Baij (Main) (Chatur27)
	read = group user/Chatur Baij (Main) (Chatur27)
	rebase = group user/Chatur Baij (Main) (Chatur27)
	removeReviewer = group user/Chatur Baij (Main) (Chatur27)
	submit = group user/Chatur Baij (Main) (Chatur27)
[access "refs/heads/*"]
	create = group user/Chatur Baij (Main) (Chatur27)
	push = +force group user/Chatur Baij (Main) (Chatur27)
	pushMerge = group user/Chatur Baij (Main) (Chatur27)
	read = group user/Chatur Baij (Main) (Chatur27)
[access "refs/tags/*"]
	push = group user/Chatur Baij (Main) (Chatur27)
	push = +force group user/Chatur Baij (Main) (Chatur27)
